*{
    font-family: 'Press Start 2P', cursive;
}
.main:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .main { display: inline-block; }
  /* start commented backslash hack \*/
  * html .main { height: 1%; }
  .main { display: block; }
  /* close commented backslash hack */

  .main2:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .main2 { display: inline-block; }
  /* start commented backslash hack \*/
  * html .main2 { height: 1%; }
  .main2 { display: block; }
  /* close commented backslash hack */
html{
    background-color: #dcdcdc;
}
body {
    margin: 0;
}
header {
    background-color: gray;
    height: 90px;
}
/* стили header */
.logo {
    width: 15%;
    float: left;
}
.menu {
    width: 35%;
    height: auto;
    float: left;
}
.head img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    height: 80px;
    left: 20px;
    top: 5px;
}
.menu a {
    display: inline-block;
    position: relative;
    padding: 0px 4px 0px 4px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    top: 30px;
    left: 500px;
}
.menu a:hover {
    color:white;
}
/* стили Info */
.main {
    border: 1px solid red ;
}
.main_info {
    position: relative;
    border: 1px solid black ;
    margin-top: 10px;
    margin-left: 10px;
    width: 790px;
    height: auto;
    float: left;
    left: 670px;
}
.name {
    background-color: #A9A9A9;
    border-radius: 10px;
    float: left;
    position: relative;
    left: 20px;
    border: 1px solid black ;
    margin-top: 10px;
    height: auto;
}
.name h3 {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
}
.name h4 {
    margin-top: 10px;
    margin-left: 5px;
}
.butt input {
    position: relative;
    left: 8px;
    padding: 7px 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.main1{
    float: left;
    position: relative;
    left: 10px;
    margin-top: 10px;
    border: 1px solid red ;
    width: 300px;
    height: auto;
}
.main1 img {
    position: relative;
    display: inline-block;
    height: 250px;
    width: 250px;
    border-radius: 10px;  
    left: 25px;
    margin-top: 10px;
}
.main1 button {
    position: relative;
    left: 20px;
    margin-top: 10px;
    padding: 7px 40px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.line {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.panel {
    
    float: left;
    width: 456px;
    height: auto;
}
.cont {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
}
.cont a {
    text-decoration: none;
    color: black;
}
.cont a:hover {
    color: white;
}
.main2 {
    border: 1px solid black;
    height: auto;
}
.main_info2 {
    position: relative;
    border: 1px solid black ;
    margin-top: 10px;
    margin-left: 10px;
    width: 790px;
    height: auto;
    float: left;
    left: 670px;
}
.friends {
    display: inline-table;
    float: left;
    border: 1px solid black;
    position: relative;
    width: 320px;
    height: auto;
}
.foto_panel {
    display: inline-block;
    border: 1px solid black ;
    position: relative;
    width: 440px;
    margin-left: 10px;
}
.foto_panel h5 {
    margin: 0;
    margin-left: 5px;
}
.foto_panel img {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 123px;
    height: 123px;
    transition: 0.5s;
}
.foto_panel img:hover {
    transform: scale(1.1);
}