html{
    background-color: #dcdcdc;
}
.logo img {
    display: inline-block;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin-left: 50px;
    vertical-align: middle;
}
.name h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}
.sidenav {
    position: relative;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    float: right;
    padding-top: 20px;
}
.sidenav a {
    position: relative;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: inline-block;
    text-align: center;
}
.sidenav a:hover {
    color: #f1f1f1;
}

