*{
    font-family: 'Press Start 2P', cursive;
}
html{
    background-color: #dcdcdc;
}
body {
    margin: 0;
}
header {
    background-color: gray;
    height: 90px;
}
/* стили header */
.logo {
    width: 15%;
    float: left;
}
.menu {
    width: 35%;
    height: auto;
    float: left;
}
.head img {
    display: inline-block;
    position: relative;
    border-radius: 100px;
    height: 80px;
    left: 20px;
    top: 5px;
}
<<<<<<< HEAD
=======
/* .head h1 {
    display: inline-block;
    position: relative;
    left: 17px;
    bottom: 10px;
    font-size: 30px;
    width: 85px;
} */
>>>>>>> 614c914c38775dcac06127780642158f0fee3038
.menu a {
    display: inline-block;
    position: relative;
    padding: 0px 4px 0px 4px;
    text-decoration: none;
    font-size: 30px;
    color: black;
    top: 30px;
    left: 500px;
}
.menu a:hover {
    color:white;
}
/* стили Info */
.main {
    border: 1px solid red ;
}
.main_info {
<<<<<<< HEAD
    position: relative;
    border: 1px solid black ;
    margin-top: 10px;
    margin-left: 10px;
    width: 790px;
    height: auto;
    float: left;
    left: 670px;
}
.name {
    background-color: #A9A9A9;
    border-radius: 10px;
    float: left;
    position: relative;
    left: 20px;
    border: 1px solid black ;
    margin-top: 10px;
}
.name h2 {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}
.name h4 {
    margin-top: 10px;
}
.butt input {
    position: relative;
    left: 8px;
    padding: 7px 25px;
    margin-bottom: 10px;
}
.foto{
    float: left;
    position: relative;
    left: 10px;
}
.foto img {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid red ;  
=======
    border: 1px solid black ;
    margin-top: 10px;
    margin-left: 10px;
    width: 75%;
    height: auto;
    float: left;
}
.main_info h2 {
    position: relative;
    left: 10px;
}
.foto img {
    position: relative;
    border-radius: 10px;
    left: 60px;
}
.info {
    border: 1px solid black ;
    width: 23%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
>>>>>>> 614c914c38775dcac06127780642158f0fee3038
}
